@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #ffffff;
    --preto: #000000;
    --azul: #02294A;
    --azul-gradiente: linear-gradient(to right, #0CFFEB 0%, #05A5B0 100%);
    ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-style: italic;
    margin: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

p,
li,
label {
    font-size: 1.2em;
    font-family: "Inter", sans-serif;
    font-style: italic;
    list-style: none;
    text-decoration: none;
}

a {
    font-size: 1.3em;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}

.whatsApp {
    cursor: pointer;
    animation: mover 2s infinite ease-in-out;
    background-color: #25D366;
    color: #ffffff;
    border: transparent;
    border-radius: 100%;
    font-size: 2em;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 10000;
}

.whatsApp:hover {
    transition: 500ms;
    transform: rotate(360deg);
    border: 2px solid #25D366;
    border-radius: 12px 0 12px 0;
    color: #25D366;
    background-color: #ffffff;
}

.voltarTopo {
    cursor: pointer;
    display: none;
    border: 2px solid var(--azul);
    background-color: var(--azul);
    color: var(--branco);
    border-radius: 100%;
    font-size: 1.5em;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 80px;
    right: 15px;
    z-index: 10000;
}

.voltarTopo:hover {
    transition: 500ms;
    transform: rotate(360deg);
    border-radius: 12px 0 12px 0;
    background-color: var(--branco);
    border: 2px solid var(--azul);
}

.voltarTopo:hover i {
    color: var(--azul);
}

.voltarTopo.scrolled {
    display: block;
}

section {
    min-height: 100vh;
    scroll-margin-top: 100px;
}

/* HEADER */
/* HEADER */
/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    padding: 0 32px;
    background: var(--preto);
    box-shadow: 0 2px 8px rgba(20, 20, 30, 0.03);
    position: relative;
    z-index: 10;
}

.header-img__a {
    width: 6%;
    height: auto;
}

.header-img__a:hover,
.header-img__a:focus {
    transition: 1s;
    transform: scale(1.05);
}

.header-img__a img {
    width: 100%;
    height: 100%;
}

.menu-toggle {
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 12;
}

.menu-toggle span {
    display: block;
    width: 32px;
    height: 4px;
    border-radius: 2px 0 2px 0;
    background: var(--branco);
    transition: all .3s cubic-bezier(.45, 0, 0, 1.48);
}

.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
}

.side-nav {
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    background: var(--preto);
    box-shadow: -2px 0 32px 6px rgba(20, 20, 58, .09);
    transition: right .37s cubic-bezier(.55, 1.2, .11, 1);
    padding: 64px 20px 24px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 20;
}

.side-nav.open {
    right: 0;
}

.side-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.side-nav a {
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
    font-size: 1.27rem;
    transition: color .15s;
}

.side-nav a:hover,
.side-nav a:focus {
    color: #e0e0e0;
    text-shadow: 0 2px 8px rgba(98, 51, 255, 0.075);
}

.close-nav {
    align-self: center;
    background: var(--branco);
    color: var(--preto);
    border: 3px solid var(--branco);
    border-radius: 12px 0 12px 0;
    cursor: pointer;
    padding: 0.3em 2em;
    width: 100%;
}

.close-nav:hover,
.close-nav:focus {
    transition: 1s;
    transform: scale(1.01);
    background: var(--preto);
    color: var(--branco);
    border: 3px solid var(--branco);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(34, 10, 92, 0.15);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
    z-index: 11;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* HOME */
/* HOME */
/* HOME */
#home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--preto);
    overflow: hidden;
    padding-bottom: 4em;
}

.logo {
    position: absolute;
    top: 80px;
    z-index: 1;
    width: 100%;
    max-width: 500px;
    height: auto;
    opacity: 0.1;
}

.content {
    position: relative;
    z-index: 3;
    padding: 20px;
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.content-gif {
    height: 100%;
    width: 70%;
}

.content-div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 1em;
}

.content h1 {
    font-size: 3em;
}

.content-span {
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content p {
    font-size: 1.5em;
}

.button {
    background: var(--azul-gradiente);
    color: var(--branco);
    border-radius: 12px 0 12px 0;
    cursor: pointer;
    padding: 0.5em 2em;
    font-size: 1.5em;
    font-weight: bolder;
}

.button:hover,
.button:focus {
    transition: 100ms;
    transform: scale(1.01);
    border: 3px solid #0CFFEB;
    color: #0CFFEB;
    background: transparent;
}

/* ÁREAS */
/* ÁREAS */
/* ÁREAS */
#áreas {
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.áreas-titulo {
    color: var(--azul);
}

.áreas-container__meio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 6em 0;
    padding: 0 4em;
}

.áreas-carrossel-wrapper {
    position: relative;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.áreas-carrossel-container {
    width: 100%;
    overflow: hidden;
}

.áreas-carrossel {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.áreas-carrossel-item {
    flex: 0 0 calc(50% - 20px);
    min-height: 450px;
    max-height: 450px;
    margin: 0 10px;
    padding: 1em 0;
    background-color: var(--azul);
    color: var(--branco);
    border-radius: 12px 0 12px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.áreas-carrossel-item h3{
    text-align: center;
}

.áreas-carrossel-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.áreas-btn {
    background: transparent;
    color: var(--branco);
    border: 3px solid var(--branco);
    border-radius: 12px 0 12px 0;
    cursor: pointer;
    padding: 0.3em 2em;
    font-size: 1.5em;
    font-weight: bolder;
}

.áreas-btn:hover,
.áreas-btn:focus {
    transition: 1s;
    transform: scale(1.01);
    background: #ffffff83;
}

.áreas-btn-prev,
.áreas-btn-next {
    background: transparent;
    color: var(--azul);
    border: none;
    font-size: 4rem;
    cursor: pointer;
    z-index: 2;
}

.áreas-btn-prev:hover,
.áreas-btn-prev:focus {
    transition: 1s;
    color: #0CFFEB;
}

.áreas-btn-next:hover,
.áreas-btn-next:focus {
    transition: 1s;
    color: #0CFFEB;
}

.áreas-dots {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin-top: 1em;
}

.áreas-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.áreas-dot.active {
    background-color: var(--azul);
}

.áreas-numeros {
    background: linear-gradient(to right, #02294A 0%, #0562B0 100%);
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
    width: 100%;
    gap: 2em;
}

.áreas-numeros h3 {
    font-size: 1.5em;
}

.áreas-barrinha {
    background-color: var(--branco);
    width: 2px;
    height: 100px;
}

/* SOBRE */
/* SOBRE */
/* SOBRE */
/* SOBRE */
#sobre {
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sobre-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6em;
    width: 100%;
}

.sobre-titulo {
    color: var(--azul);
}

.sobre-container__cima {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 70%;
}

.sobre-container__cima-img {
    width: 40%;
    height: 100%;
    border-radius: 12px 0 12px 0;
}

.sobre-container__cima-div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 1em;
}

.sobre-container__cima-div-p {
    color: var(--azul);
}

.sobre-container__cima-div-a {
    background-color: var(--azul);
    color: var(--branco);
    border: 3px solid var(--azul);
    border-radius: 12px 0 12px 0;
    cursor: pointer;
    padding: 0.3em 2em;
    font-size: 1.5em;
    font-weight: bolder;
}

.sobre-container__cima-div-a:hover,
.sobre-container__cima-div-a:focus {
    transition: 1s;
    transform: scale(1.01);
    background: #022a4a75;
}

.sobre-container__baixo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.sobre-container__baixo-missao,
.sobre-container__baixo-valores {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.sobre-container__baixo-missao-img,
.sobre-container__baixo-valores-img {
    width: 15%;
    height: 100%;
    border-radius: 12px 0 12px 0;
}

.sobre-container__baixo-missao-div,
.sobre-container__baixo-valores-div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 1em;
}

.sobre-container__baixo-missao-div-texto,
.sobre-container__baixo-valores-div-texto {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.sobre-container__baixo-missao-div-texto-h3,
.sobre-container__baixo-visao-div-texto-h3,
.sobre-container__baixo-valores-div-texto-h3 {
    color: #0CFFEB;
}

.sobre-container__baixo-missao-div-texto-barrinha,
.sobre-container__baixo-valores-div-texto-barrinha {
    background: var(--azul-gradiente);
    height: 4px;
    width: 500px;
}

.sobre-container__baixo-missao-div-p,
.sobre-container__baixo-valores-div-p {
    width: 80%;
}

.sobre-container__baixo-visao {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.sobre-container__baixo-visao-img {
    width: 15%;
    height: 100%;
    border-radius: 0 12px 0 12px;
}

.sobre-container__baixo-visao-div {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 1em;
}

.sobre-container__baixo-visao-div-texto {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.sobre-container__baixo-missao-div-texto-barrinha,
.sobre-container__baixo-valores-div-texto-barrinha {
    background: var(--azul-gradiente);
    background-size: 400% 400%;
    height: 4px;
    width: 500px;
}

.sobre-container__baixo-visao-div-texto-barrinha {
    background: var(--azul-gradiente);
    background-size: 400% 400%;
    height: 4px;
    width: 500px;
}

.animate-gradient {
    animation: moveGradient 3s ease-in-out infinite;
}

.sobre-container__baixo-visao-div-p {
    width: 80%;
    text-align: end;
}

/* DEPOIMENTOS */
/* DEPOIMENTOS */
/* DEPOIMENTOS */
#depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4em;
    gap: 6em;
    background: linear-gradient(to right, #02294A 0%, #0562B0 100%);
}

.depoimentos-div__titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.50));
}

.depoimentos-div__titulo-svg {
    width: 10%;
    height: 100%;
}

.depoimentos-div__titulo-h2 {
    font-weight: 400;
    text-align: center;
}

.depoimentos-div__meio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    width: 100%;
}

.depoimentos-div__meio-case {
    background-color: var(--branco);
    border-radius: 12px 0 12px 0;
    padding: 2em;
    gap: 2em;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.depoimentos-div__meio-case-h3 {
    color: var(--azul);
    font-size: 3em !important;
    text-align: center;
}

.depoimentos-div__meio-case-p {
    color: var(--azul);
    text-align: center;
}

.depoimentos-div__meio-case-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.depoimentos-div__meio-case-container-btn,
.depoimentos-div__meio-case-container-a {
    background-color: var(--azul);
    color: var(--branco);
    border: 3px solid var(--azul);
    border-radius: 12px 0 12px 0;
    font-size: 1.3em;
    padding: 0.5em 1em;
    cursor: pointer;
}

.depoimentos-div__meio-case-container-btn:hover,
.depoimentos-div__meio-case-container-btn:focus,
.depoimentos-div__meio-case-container-a:hover,
.depoimentos-div__meio-case-container-a:focus {
    transition: 1s;
    transform: scale(1.01);
    background-color: var(--branco);
    color: var(--azul);
}

.depoimentos-div__meio-case-barrinha {
    width: 100%;
    height: 3px;
    background-color: #CF8736;
}

.depoimentos-container__meio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.depoimentos-carrossel-wrapper {
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.depoimentos-carrossel-container {
    width: 100%;
    overflow: hidden;
}

.depoimentos-carrossel {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.depoimentos-carrossel-item {
    flex: 0 0 calc(50% - 20px);
    margin: 0 10px;
    padding: 1em;
    background-color: var(--branco);
    color: var(--preto);
    border-radius: 12px 0 12px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    text-align: center;
}

.depoimentos-carrossel-item-img {
    width: 50%;
    object-fit: contain;
}

.depoimentos-btn-prev,
.depoimentos-btn-next {
    background: transparent;
    color: #CF8736;
    border: none;
    font-size: 4rem;
    cursor: pointer;
    z-index: 2;
}

.depoimentos-btn-prev:hover,
.depoimentos-btn-next:hover {
    color: #ad6d23;
}

.depoimentos-dots {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin-top: 1em;
}

.depoimentos-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.depoimentos-dot.active {
    background-color: #CF8736;
}

.depoimentos-div__meio-carrossel-item-h3,
.depoimentos-div__meio-carrossel-item-p {
    text-align: center;
    margin: 0;
}

.depoimentos-btn {
    background: transparent;
    color: #0CFFEB;
    border: 3px solid #0CFFEB;
    border-radius: 12px 0 12px 0;
    cursor: pointer;
    padding: 0.3em 2em;
    font-size: 1.5em;
    font-weight: bolder;
}


.depoimentos-btn:hover,
.depoimentos-btn:focus {
    transition: 1s;
    transform: scale(1.01);
    background: #0cffeb6e;
}

/* ARTIGOS */
/* ARTIGOS */
/* ARTIGOS */
#artigos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    gap: 6em;
}

.artigos-titulo {
    text-align: center;
    color: var(--azul);
}

.artigos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    width: 100%;
}

.artigos-container__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px 0 12px 0;
    width: 400px;
    height: 100%;
    position: relative;
}

.artigos-container__item-seta {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.artigos-container__item-img {
    width: 100%;
    height: 250px;
    border-radius: 12px 0 12px 0;
}

.artigos-container__item-baixo {
    width: 100%;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 1em;
    padding: 1em 1em 1em 3em;
    border-radius: 12px 0 12px 0;
}

.artigos-container__item-baixo-data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.artigos-container__item-baixo-data-div {
    background: var(--azul);
    color: var(--branco);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.artigos-container__item-baixo-data-div span {
    font-size: 1.3em;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: bold;
}

.artigos-container__item-baixo-data-p {
    color: var(--azul);
    text-decoration: underline;
}

.artigos-container__item-baixo-p {
    color: var(--azul);
    font-size: 1.5em;
    font-weight: bold;
}

.artigos-container__item-baixo-btn {
    background: transparent;
    color: var(--azul);
    border: 3px solid var(--azul);
    border-radius: 6px;
    cursor: pointer;
    padding: 0.3em 2em;
    font-size: 1.5em;
    font-weight: bolder;
}


.artigos-container__item-baixo-btn:hover,
.artigos-container__item-baixo-btn:focus {
    transition: 1s;
    transform: scale(1.01);
    background: #022a4a75;
}

/* CONTATO */
/* CONTATO */
/* CONTATO */
#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    gap: 6em;
    background: linear-gradient(to right, #02294A 0%, #0562B0 100%);
}

.contato-titulo {
    color: var(--branco);
}

.contato-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 12em;
}

.contato-container__form {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid var(--branco);
    padding: 2em;
    border-radius: 12px 0 12px 0;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.contato-container__form-h3 {
    color: var(--branco);
    text-align: center;
}

.contato-container__form-areas {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    gap: 1em;
}

.contato-container__form-areas-label {
    color: var(--branco);
}

.contato-container__form-areas-input {
    width: 100%;
    padding: 0.5em;
    border-radius: 4px;
    border: 3px solid var(--branco);
    background: transparent;
    color: var(--branco);
}

.contato-container__form-btn {
    background: var(--azul-gradiente);
    color: var(--branco);
    border: none;
    border-radius: 12px 0 12px 0;
    cursor: pointer;
    padding: 0.3em 2em;
    font-size: 1.5em;
    font-weight: bolder;
}

.contato-container__form-btn:hover,
.contato-container__form-btn:focus {
    transition: 1s;
    transform: scale(1.01);
    background: linear-gradient(to right, #0cffebbb 0%, #05a5b05e 100%);
}

.contato-container__redes {
    color: var(--branco);
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.contato-container__redes-h3 {
    font-size: 2.5em;
}

.contato-container__redes-div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contato-container__redes-div-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    width: 100%;
}

.contato-container__redes-div-item-a {
    background-color: var(--branco);
    color: #02294A;
    border-radius: 0 0 12px 0;
    padding: 0.2em;
    font-size: 1.5em;
    width: 100%;
}

.contato-container__redes-div-item-a:hover,
.contato-container__redes-div-item-a:focus {
    transition: 1s;
    transform: scale(1.01);
    background: #ffffff83;
}

.contato-container__redes-div-item i {
    background-color: var(--branco);
    color: #02294A;
    border-radius: 12px 0 0 0;
    padding: 0.2em;
    font-size: 1.8em;
    text-align: center;
}


/* FOOTER */
/* FOOTER */
/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer-1 {
    display: flex;
    align-items: flex-start;
    gap: 4em;
    padding: 2em;
    width: 100%;
    color: #ad6d23;
}

.footer-1 img {
    width: 15%;
    height: 100%;
}

.footer-1__links {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3em;
}

.footer-1__links-h4 {
    font-size: 1.5em;
}

.footer-1__links-h4-a {
    font-size: 1.5em;
    color: var(--azul);
    font-weight: bolder;
    text-decoration: underline;
}

.footer-1-links__a {
    color: var(--preto);
}

.footer-1-links__a:hover,
.footer-1-links__a:focus,
.footer-1__links-h4-a:hover,
.footer-1__links-h4-a:focus {
    transition: 1s;
    transform: scale(1.01);
    color: #0CFFEB;
}

.footer-2 {
    background-color: var(--azul);
    padding: 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-2 p {
    color: var(--branco);
    text-align: center;
}

.footer-3 {
    background-color: #031F37;
    padding: 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-3 img:hover {
    transition: 1s;
    transform: scale(1.03);
}

@media (max-width: 900px) {

    /* HEADER */
    /* HEADER */
    /* HEADER */
    .header-img__a {
        width: 10%;
        height: auto;
    }

    /* HOME */
    /* HOME */
    /* HOME */
    .content {
        width: 80%;
    }

    /* ÁREAS */
    /* ÁREAS */
    /* ÁREAS */
    .áreas-carrossel-wrapper {
        width: 100%;
    }

    .áreas-numeros {
        flex-direction: column;
    }

    .áreas-numeros h3 {
        text-align: center;
    }

    .áreas-barrinha {
        background-color: var(--branco);
        width: 20%;
        height: 2px;
    }

    /* SOBRE */
    /* SOBRE */
    /* SOBRE */
    .sobre-container {
        align-items: center;
    }

    .sobre-container__cima {
        flex-direction: column;
    }

    .sobre-container__cima-img {
        width: 60%;
    }

    .sobre-container__baixo-missao,
    .sobre-container__baixo-visao,
    .sobre-container__baixo-valores {
        width: 40%;
    }

    .sobre-container__baixo-missao-img,
    .sobre-container__baixo-visao-img,
    .sobre-container__baixo-valores-img {
        width: 75%;
    }

    .sobre-container__baixo-missao-div-p,
    .sobre-container__baixo-visao-div-p,
    .sobre-container__baixo-valores-div-p {
        width: 100%;
    }

    /* DEPOIMENTOS */
    /* DEPOIMENTOS */
    /* DEPOIMENTOS */
    .depoimentos-carrossel-wrapper {
        width: 100%;
    }

    /* ARTIGOS */
    /* ARTIGOS */
    /* ARTIGOS */


    /* CONTATO */
    /* CONTATO */
    /* CONTATO */


    /* FOOTER */
    /* FOOTER */
    /* FOOTER */
    .footer-1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-1 img {
        width: 35%;
    }

    .footer-1__links {
        flex-direction: column;
    }
}

@media (max-width: 480px) {

    /* HEADER */
    /* HEADER */
    /* HEADER */
    .header-img__a {
        width: 15%;
        height: auto;
    }

    /* HOME */
    /* HOME */
    /* HOME */
    .content {
        width: 100%;
        align-items: baseline;
    }

    .content-gif {
        width: 90%;
    }

    .button {
        padding: 0.3em 1em;
    }

    /* ÁREAS */
    /* ÁREAS */
    /* ÁREAS */
    .áreas-titulo {
        text-align: center;
    }

    .áreas-container__meio {
        padding: 0 1.5em;
    }

    .áreas-carrossel-item {
        flex: 0 0 calc(100% - 20px);
        margin: 0 10px;
    }

    .áreas-btn {
        padding: 0.3em 1.5em;
    }

    /* SOBRE */
    /* SOBRE */
    /* SOBRE */
    #sobre {
        padding: 4em 1.5em;
    }

    .sobre-titulo {
        text-align: center;
    }

    .sobre-container__cima {
        width: 80%;
    }

    .sobre-container__cima-img {
        width: 80%;
    }

    .sobre-container__baixo-missao,
    .sobre-container__baixo-valores {
        flex-direction: column;
        align-items: baseline;
        width: 80%;
    }

    .sobre-container__baixo-visao {
        flex-direction: column;
        align-items: end;
        width: 80%;
    }

    .sobre-container__baixo-missao-img,
    .sobre-container__baixo-visao-img,
    .sobre-container__baixo-valores-img {
        width: 75%;
    }

    .sobre-container__baixo-missao-div,
    .sobre-container__baixo-visao-div,
    .sobre-container__baixo-valores-div {
        width: 100%;
    }

    .sobre-container__baixo-missao-div-texto-barrinha,
    .sobre-container__baixo-visao-div-texto-barrinha,
    .sobre-container__baixo-valores-div-texto-barrinha {
        width: 200px;
    }

    .sobre-container__baixo-missao-div-p,
    .sobre-container__baixo-visao-div-p,
    .sobre-container__baixo-valores-div-p {
        width: 100%;
    }

    /* DEPOIMENTOS */
    /* DEPOIMENTOS */
    /* DEPOIMENTOS */
    #depoimentos {
        padding: 4em 1.5em;
    }

    .depoimentos-div__titulo-svg {
        width: 20%;
        height: 100%;
    }

    .depoimentos-div__meio-case {
        width: 100%;
        padding: 1em;
    }

    .depoimentos-div__meio-case-container-a {
        padding: 0.3em 1.5em;
    }

    .depoimentos-carrossel-item {
        flex: 0 0 calc(100% - 20px);
        margin: 0 10px;
    }

    .depoimentos-btn {
        padding: 0.3em 1.5em;
    }

    /* ARTIGOS */
    /* ARTIGOS */
    /* ARTIGOS */


    /* CONTATO */
    /* CONTATO */
    /* CONTATO */
    .contato-titulo,
    .contato-container__redes-h3 {
        text-align: center;
    }

    .contato-container {
        gap: 6em;
    }

    /* FOOTER */
    /* FOOTER */
    /* FOOTER */
    .footer-1 img {
        width: 65%;
    }
}