@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #ffffff;
    --preto: #000000;
    --azul: #02294A;
    --azul-gradiente: linear-gradient(to right, #0CFFEB 0%, #05A5B0 100%);
    ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-style: italic;
    margin: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

p,
li,
label {
    font-size: 1.2em;
    font-family: "Inter", sans-serif;
    font-style: italic;
    list-style: none;
    text-decoration: none;
}

a {
    font-size: 1.3em;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}

.whatsApp {
    cursor: pointer;
    animation: mover 2s infinite ease-in-out;
    background-color: #25D366;
    color: #ffffff;
    border: transparent;
    border-radius: 100%;
    font-size: 2em;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 10000;
}

.whatsApp:hover {
    transition: 500ms;
    transform: rotate(360deg);
    border: 2px solid #25D366;
    border-radius: 12px 0 12px 0;
    color: #25D366;
    background-color: #ffffff;
}

.voltarTopo {
    cursor: pointer;
    display: none;
    border: 2px solid var(--azul);
    background-color: var(--azul);
    color: var(--branco);
    border-radius: 100%;
    font-size: 1.5em;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 80px;
    right: 15px;
    z-index: 10000;
}

.voltarTopo:hover {
    transition: 500ms;
    transform: rotate(360deg);
    border-radius: 12px 0 12px 0;
    background-color: var(--branco);
    border: 2px solid var(--azul);
}

.voltarTopo:hover i {
    color: var(--azul);
}

.voltarTopo.scrolled {
    display: block;
}

section {
    min-height: 100vh;
    scroll-margin-top: 100px;
}

/* HEADER */
/* HEADER */
/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    padding: 0 32px;
    background: var(--preto);
    box-shadow: 0 2px 8px rgba(20, 20, 30, 0.03);
    position: relative;
    z-index: 10;
}

.header-img__a {
    width: 6%;
    height: auto;
}

.header-img__a:hover,
.header-img__a:focus {
    transition: 1s;
    transform: scale(1.05);
}

.header-img__a img {
    width: 100%;
    height: 100%;
}

.menu-toggle {
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 12;
}

.menu-toggle span {
    display: block;
    width: 32px;
    height: 4px;
    border-radius: 2px 0 2px 0;
    background: var(--branco);
    transition: all .3s cubic-bezier(.45, 0, 0, 1.48);
}

.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
}

.side-nav {
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    background: var(--preto);
    box-shadow: -2px 0 32px 6px rgba(20, 20, 58, .09);
    transition: right .37s cubic-bezier(.55, 1.2, .11, 1);
    padding: 64px 20px 24px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 20;
}

.side-nav.open {
    right: 0;
}

.side-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.side-nav a {
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
    font-size: 1.27rem;
    transition: color .15s;
}

.side-nav a:hover,
.side-nav a:focus {
    color: #e0e0e0;
    text-shadow: 0 2px 8px rgba(98, 51, 255, 0.075);
}

.close-nav {
    align-self: center;
    background: var(--branco);
    color: var(--preto);
    border: 3px solid var(--branco);
    border-radius: 12px 0 12px 0;
    cursor: pointer;
    padding: 0.3em 2em;
    width: 100%;
}

.close-nav:hover,
.close-nav:focus {
    transition: 1s;
    transform: scale(1.01);
    background: var(--preto);
    color: var(--branco);
    border: 3px solid var(--branco);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(34, 10, 92, 0.15);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
    z-index: 11;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* HOME */
/* HOME */
/* HOME */
#pages-home {
    min-height: 10vh;
    background-image: url(../assets/termos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 4em;
}

.pages-home__titulo {
    text-align: center;
    color: var(--branco);
}

/* TERMOS */
/* TERMOS */
/* TERMOS */
#termos {
    background-color: var(--azul);
    color: var(--branco);
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 2em;
}

.termos-div {
    background-color: var(--branco);
    color: var(--azul);
    padding: 1em;
    width: 100%;
    text-align: center;
    border-radius: 12px 0 12px 0;
}

.termos-div__itens {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    border-radius: 12px 0 12px 0;
    background-color: #031F37;
    width: 100%;
}

.termos-div__itens h2 {
    font-size: 2em !important;
}

.termos-div__itens-email {
    color: #0CFFEB;
}

.termos-div__itens-email:hover,
.termos-div__itens-email:focus {
    transition: 1s;
    transform: scale(1.01);
    color: #05A5B0;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer-1 {
    display: flex;
    align-items: flex-start;
    gap: 4em;
    padding: 2em;
    width: 100%;
    color: #ad6d23;
}

.footer-1 img {
    width: 15%;
    height: 100%;
}

.footer-1__links {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3em;
}

.footer-1__links-h4 {
    font-size: 1.5em;
}

.footer-1__links-h4-a {
    font-size: 1.5em;
    color: var(--azul);
    font-weight: bolder;
    text-decoration: underline;
}

.footer-1-links__a {
    color: var(--preto);
}

.footer-1-links__a:hover,
.footer-1-links__a:focus,
.footer-1__links-h4-a:hover,
.footer-1__links-h4-a:focus {
    transition: 1s;
    transform: scale(1.01);
    color: #0CFFEB;
}

.footer-2 {
    background-color: var(--azul);
    padding: 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-2 p {
    color: var(--branco);
    text-align: center;
}

.footer-3 {
    background-color: #031F37;
    padding: 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-3 img:hover {
    transition: 1s;
    transform: scale(1.03);
}

@media (max-width: 900px) {

    /* HEADER */
    /* HEADER */
    /* HEADER */
    .header-img__a {
        width: 10%;
        height: auto;
    }

    /* HOME */
    /* HOME */
    /* HOME */


    /* TERMOS */
    /* TERMOS */
    /* TERMOS */
    #termos{
        padding: 4em 1.5em;
    }

    .termos-div__itens-email{
        font-size: 1em;
    }

    /* FOOTER */
    /* FOOTER */
    /* FOOTER */
    .footer-1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-1 img {
        width: 35%;
    }

    .footer-1__links {
        flex-direction: column;
    }
}

@media (max-width: 480px) {

    /* HEADER */
    /* HEADER */
    /* HEADER */
    .header-img__a {
        width: 15%;
        height: auto;
    }

    /* HOME */
    /* HOME */
    /* HOME */
    #pages-home {
        padding: 2em 1.5em;
    }

    /* CONTATO */
    /* CONTATO */
    /* CONTATO */


    /* FOOTER */
    /* FOOTER */
    /* FOOTER */
    .footer-1 img {
        width: 65%;
    }
}